<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Passwort Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Passwort Generator</h1>
    <form method="post">
        <div class="input-group">
            <label for="length">Eingabe Buchstaben:</label>
            <input type="text" id="length" name="length">
        </div>
        <div class="input-group">
            <label for="zahlen">Eingabe Zahlen:</label>
            <input type="text" id="zahlen" name="zahlen">
        </div>
        <div class="input-group">
            <label for="sonder">Eingabe Sonderzeichen:</label>
            <input type="text" id="sonder" name="sonder">
        </div>
        <button type="submit">Generiere</button>
    </form>
   {% if password %}
    <h2>Generiertes Passwort:</h2>
    <p>{{ password }}</p>
    {% endif %}
</body>
</html>
